rect.graphic,
circle.empty
{
	fill:#eee;
	stroke-width:1.5;
	stroke:black;
}

g.graphic
{
	cursor:default;
}

rect.graphic.F,
circle.empty.F
{
	fill:#fae;
}

rect.graphic.M,
circle.empty.M
{
	fill:#aef;
}

path.connection,
path.connection-d,
path.connection-d-childless
{
	fill:none;
	stroke-width:1.5;
	stroke:black;
}

g.descendant.root rect,
g.descendant.root text
{
	fill:none;
	stroke:none;
}

circle.descendant-nob
{
	fill:white;
	stroke:black;
	stroke-width:1;
}

circle.descendant-nob.no-children
{
	fill:red;
}

circle.descendant-nob.maybe-children
{
	fill:yellow;
}

circle.descendant-nob.probably-children
{
	fill:green;
}

line.spouse
{
	fill:none;
	stroke:black;
	stroke-width:1.5;
}

.graphic .set-root,
.reset-root
{
	fill:#eee;
	stroke:#333;
	stroke-width:1;
}

.graphic .set-root-text,
.reset-root-text
{
	font-size:75%;
	pointer-events:none;
}

.graphic .set-root:hover,
.reset-root:hover
{
	fill:#fff;
}

.graphic .set-root:active,
.reset-root:active
{
	fill:#ccc;
}